
<div>
  <img src="../../assets/image/protect/big-pto.jpg" alt="" width="100%">
  <img src="../../assets/image/protect/owenprotect.png" alt="" id="owen">
  <span id="jieshao">
        <h4>本保险产品由“南城挽歌”赠送给通过其成功租赁房屋并实际入住的租客 <br> （即被保险人，以下简称“您”），旨在为租客在入住的房屋中提供人身保障，由中国平安保险承保。</h4>
    </span>
</div>

<div style="margin-top: 100px;">
    <span class="everyone">
        <h2>每份保险产品保障明细</h2>
    </span>
  <div style="margin-left:150px;margin-top:100px">
    <div class="box">
      <br>
      <br>
      <br>
      <img src="../../assets/image/protect/baoxian.png" alt="" >
      <p>住宿旅客意外身故、残疾</p>
      <h4 class="h4">保险赔付</h4>
      <h1 class="money">10万元</h1>
    </div>
    <div class="box">
      <br>
      <br>
      <br>
      <img src="../../assets/image/protect/yaobox.png" alt="" >
      <p>住宿旅客意外伤害医疗</p>
      <h4 class="h4">100%赔付</h4>
      <h1 class="money">1万元</h1>
    </div>
    <div class="box">
      <br>
      <br>
      <br>
      <img src="../../assets/image/protect/money.png" alt="" >
      <p>住宿旅客意外伤害住院津贴</p>
      <h4 class="h4">保险赔付</h4>
      <h1 class="money">50元/天</h1>
    </div>
  </div>
</div>
<div>
  <div style="margin-left: 100px;float: left;margin-top: -80px">
    <img src="../../assets/image/protect/girl.png" alt="" style="margin-top: 30px">
  </div>
  <div style="margin-top:550px;">
        <span>
            <h1>保险产品须知</h1>
            <h5 style="margin-right: 100px">
在您通过“南城挽歌”成功完成房屋租赁的同时即默认您同意“南城挽歌”将您的信息传输给平安保险完成“住宿旅客意外险”的投保，保险费由“南城挽歌”负责支付；
<br>
                <br>
每一订单每一被保险人最高限2份；70周岁以上以及16周岁以下的被保险人限1份；
<br>
                <br>
在保险期间内，平安保险仅对您在“南城挽歌”租赁的房屋地址内发生的意外伤害事故承担保险责任；
<br>
                <br>
本保险产品的保险期间：自您通过“南城挽歌”租赁房屋的订单中约定的入住时间起至订单中约定的退房时间止，具体以保险单上载明的起讫时间为准；
<br>
                <br>
本保险产品为“南城挽歌”赠送，一旦投保成功，不得进行退保；
<br>
                <br>
成功承保后，平安保险将为您提供电子保单，根据《中华人民共和国合同法》第十一条规定，数据电文是合法的合同的表现形式。如果您事先预留了邮箱，电子保单将会发送至您的邮箱，请您注意查收；您也可以通过http://www.pingan.com/查询保单信息。如需纸质保单，请致电平安客服电话：95511进行索取，但您需自行支付相应的快递费用。
<br>
                <br>
您了解，如因您填写的信息有误（包括：被保险人姓名、有效证件号码、性别、出生日期、保险期间等）会导致投保失败，您将无法获赠相应保险；

            </h5>
        </span>
  </div>
</div>
<div style="margin-top: 150px;">
  <h1 class="liucheng">投保流程</h1>
  <div style="margin-top: 130px;text-align: center;margin-left: 500px">
    <div style="float: left">
      <div class="xuebi"></div>
      <p>填写投保信息</p>
    </div>
    <div style="float: left">
      <div class="xuebi1"></div>
    </div>
    <div style="float: left">
      <div class="xuebi2"> </div>
      <p>确认信息</p>
    </div>
    <div class="xuebi1">

    </div>

    <div style="float: left">
      <div class="xuebi3">
      </div>
      <p>成功承保</p>
    </div>
  </div>
  <span style="margin-top:180px;position: absolute;margin-left: 540px">如对保险产品有任何疑问，您可拨打平安客服热线：95511进行咨询</span>
</div>
<div>
  <div style="margin-top:500px;text-align: center">
    <h1>理赔流程</h1>
  </div>
  <div style="margin-left: 18%;margin-top: 150px">
    <div style="margin-top: -150px;position: absolute">
      <div class="xuebi4"></div>
      <p style="margin-left: -20px">拨打客服热线95511</p>
    </div>
    <div style="margin-top: -150px;margin-left: 120px;position: absolute">
      <div class="xuebi1"></div>
    </div>
    <div style="margin-top: -150px;margin-left:300px;position: absolute">
      <div class="xuebi5"></div>
      <p style="margin-left: -25px">
        根据要求提供理赔材料
      </p>
    </div>
    <div class="xuebi1" style="margin-top: -113px;margin-left: 480px;position: absolute"></div>
    <div style="margin-top: -150px;margin-left: 600px;position: absolute">
      <div class="xuebi6"></div>
      <p style="margin-left: -15px">等待理赔资料审核
      </p>
    </div>
    <div class="xuebi1"style="margin-top: -113px;margin-left: 780px;position: absolute"></div>
    <div style="margin-top: -150px;margin-left: 900px;position: absolute">
      <div class="xuebi7"></div>
      <p>
        成功获得理赔款</p>
    </div>
  </div>
</div>
<div style="text-align: center;margin-top: 200px;margin-bottom: 150px;margin-left: -150px">
  <div><a routerLink="../index" style="text-decoration: none;">
    <img src="../../assets/image/logo.png" alt="">
    <span id="logo">给你家一般的温暖</span></a>
  </div>
</div>

