<div class="grey">
<div class="col-lg-4 col-lg-offset-2 down1">
  <h4>客服电话</h4>
  <br>
  <h3><img src="../../assets/image/ncwg-tel.png" alt="">110-120-4119</h3>
</div>
  <div class="col-lg-1 down" >
    <h4>下载App</h4>
    <br>
    <img src="../../assets/image/zhifubao.png" alt="" width="111px" height="111px">
  </div>
  <div class="col-lg-1 down">
    <h4>微信小程序</h4>
    <br>
    <img src="../../assets/image/weixin.png" alt="" width="111px" height="111px">
  </div>
  <div class="col-lg-1 down">
    <h4>关注我们</h4>
    <br>
    <img src="../../assets/image/w_zhi.png" alt="" width="111px" height="111px">
  </div>

  <div class="col-lg-2  down2">
    <ul>
      <li>我是房客</li>
      <li>远途渡假</li>
      <li>合作伙伴</li>
    </ul>
  </div>
  <div class="col-lg-2 col-lg-pull-1 down2">
    <ul>
      <li>关于我们</li>
      <li>加入我们</li>
      <li>许可经营</li>
    </ul>
  </div>
</div>
<div style="text-align: center;margin-top: 3%">
  <span class="last">
    © Copyright 2017 南城挽歌版权所有
  </span>
  <span class="last">
     京ICP证1701025号
  </span>
  <span class="last">
     京公网安备11012011959420
  </span>
</div>
