<div>
  <img src="../../assets/image/sevice/baozhang.jpg" alt="" width="100%">
  <span class="col-lg-12 ncwg_zu">
        <strong>安心租</strong>
        <p style="border: 1px">100%保障计划</p>
        <hr>
    </span>
  <div id="jies">
    <span class="jies col-lg-2 col-lg-offset-3">
       <img src="../../assets/image/sevice/protect.png" alt="" style="float: left;margin-left: -5px">
        <h4>1000万保障基金先行赔付</h4> </span>
    <span class="jies col-lg-2 " style="margin-left:40px">
        <img src="../../assets/image/sevice/tel.png" alt="" style="float: left;margin-right: 5px">
        <h4>24小时客服热线</h4></span>
    <span class="jies col-lg-2" margin-left="-10px">
        <img src="../../assets/image/sevice/hour.png" alt="" style="float: left;margin-left: 2px">
        <h4>30分钟保障处理响应</h4>
    </span>
  </div>
</div>
<div id="sec">
    <span id="protec"><h1>南城挽歌《保障服务》</h1>
    <h3>全面解决您的担心与困扰</h3>
    </span>
</div>
<div style="text-align: center">
  <img src="../../assets/image/sevice/answer.jpg" alt="">
</div>
<div style="text-align: center">
  <img src="../../assets/image/sevice/service-1.jpg" alt="" style="width: 100%;height: auto">
  <span class="service"><h1>南城挽歌承诺先行赔付</h1></span>
  <span class="service1"><h4>在南城挽歌遇到上述三大问题，南城挽歌保障服务承诺给予先行赔付，保障每一个房客的权益。
同时对于此类房主或管理公司进行严厉惩罚或下架处理。</h4></span>
</div>
<div style="text-align: center;margin-top: 50px">
  <span> <h1>玩转公寓</h1></span>
</div>
<div style="margin-top: 80px;margin-left: 10%">
  <div class="service2 "><img src="../../assets/image/sevice/play1.jpg" alt="">
    <span class="inma">
        <h4>轰趴聚会</h4>
    <h5>私密空间&nbsp;亲朋好友尽兴玩</h5>
    </span>
  </div>
  <div  class="service2 "><img src="../../assets/image/sevice/play2.jpg" alt="">
    <span class="inma">
        <h4>家庭出游</h4>
    <h5>一房多卧&nbsp;全家合住好照看</h5>
    </span>
  </div>
  <div  class="service2 "><img src="../../assets/image/sevice/play3.jpg" alt="">
    <span class="inma">
        <h4>实惠常住</h4>
    <h5>洗衣做饭&nbsp;设施齐全又省钱</h5>
    </span>
  </div>
  <div  class="service2 "><img src="../../assets/image/sevice/play4.jpg" alt="">
    <span class="inma">
        <h4>新奇体验</h4>
    <h5>房型丰富&nbsp;风格迥异更养眼</h5>
    </span>
  </div>
</div>
<div></div>
<div id="logo">
  <img src="../../assets/image/ncwg-logo.png" alt="">
  <div id="miaoshu">
    <span margin-top="20px">给你家一般的温暖</span>
  </div>
</div>
