<app-nav></app-nav>
<!--马上成为房东-->
<div>
  <span (click)="btn()"><div class="cwfd">马上成为房东</div></span>
  <img src="../../assets/image/fdzm.jpg" alt="" width="100%">
</div>
<!--加入共享经济大潮-->
<div style="margin-left:20%;margin-top: 80px">
  <div class="ling">
    <br>
    <br>
    <h2 style="margin-left: 20px;margin-right: 10px;text-align: center">招募令！成为房东，提升房屋收入，加入共享经济的大潮！</h2>
    <br>
    <h4 style="margin-left: 20px;margin-right: 10px">近年来，人们对住宿出行的要求不断提高，多元化、个性化的民宿逐渐成为出行人群，尤其是旅游人群的选择。在旺盛的市场需求面前，您还犹豫什么，抓紧把空置房分享出来吧！</h4>
  </div>
</div>
<!--闲置房做短租-->
<div class="question">
  <div style="margin-left: 130px">
    <div class="col-lg-5 col-lg-offset-1" style="margin-top: 40px;margin-bottom:80px">
      <div class="duanzu">为什么拿闲置房做短租?</div>
      <img src="../../assets/image/1.jpg" alt="" width="500px" height="250px">
    </div>
    <div class="col-lg-6">
      <h4>比长租收益高一倍以上</h4>
      <h5>相比长租，短租价格更有优势，收益可比长租高一倍以上。</h5>
      <br>
      <h4>家庭旅游入住，不毁房</h4>
      <h5>家庭旅游人群入住时，大多在户外活动，不会造成房屋损毁。</h5>
      <br>
      <h4>租期灵活，可随时回来入住</h4>
      <h5>若自己需要入住或房屋有其它用途，房源可随时下线。</h5>
      <br>
      <h4>为他人实现旅行梦想</h4>
      <h5>当你在用短租的额外收入为梦想做准备时，也在实现他人的旅行梦想！</h5>
    </div>
  </div>
  <hr style="border: dashed 1px;width: 1230px;margin-bottom:80px;color: gainsboro">
  <div style="margin-left: 130px">
    <div class="col-lg-5 col-lg-offset-1" style="margin-top: 40px;margin-bottom:80px">
      <div class="duanzu">什么房源可以发布?</div>
      <img src="../../assets/image/2.jpg" alt="" width="500px" height="250px">
    </div>
    <div class="col-lg-6" style="margin-top:100px">
      <h4>只要您能提供整套出租的房屋，无论民居、公寓还是别墅，都可以免费发布。</h4>
      <br>
      <h4>房子可以是您或您家人名下，也可以是承租下来的出租房。</h4>
    </div>
  </div>
</div>

<div id="fd">
  <div class="how">如何成为房东？</div>
  <div style="margin-top: 600px;position: absolute" class="col-lg-3 col-lg-offset-3">
    <h2>方式一</h2>
    <br>
    <br>
    <br>
    <br>
    <a (click)="botn()" style="font-size: 17px">点击进去，发布房源</a>
  </div>
  <div id="di" style="margin-top: 600px;position: absolute;margin-left: 50%" class="col-lg-6">
    <h2>方式二</h2>
    <br>
    <h5>填写以下基本信息，我们的工作人员会在1个工作日内联系您，协助您发布房源。</h5>
    <br>
    <br>
    <form action="">
      <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓名&nbsp;&nbsp;：</label>
      <input type="text" placeholder="您的真实姓名" name="" value="">
      <br>
      <br>
      <label>联系方式：</label>
      <input type="text" placeholder="手机号或邮箱" name="" value="">
      <br>
      <br>
    </form>
    <a href=""><div class="give">提交</div></a>
  </div>
</div>

