<app-nav></app-nav>
<div style="margin-top: 160px;position: absolute;width: 100%">
  <div class="title">房源信息</div>
  <div style="margin-top:100px">
    <form action="">
      <label class="titlt1">地理位置</label>
      <input type="text" name=""  value="" class="p1">
      <br>
      <br>
      <label class="titlt1">房屋类型</label>
      <select name="" class="p1" >
        <option value="">公寓</option>
        <option value="">别墅</option>
        <option value="">海景房</option>
        <option value="">豪宅</option>
        <option value="">树屋</option>
        <option value="">房车</option>
      </select>
      <br>
      <br>
      <label class="titlt1  p2">户型</label>
      <select name="" class="kuang">
        <option value="">一室一厅</option>
        <option value="">一室两厅</option>
        <option value="">两室两厅</option>
        <option value="">三室一厅</option>
        <option value="">三室两厅</option>
      </select>
      <br>
      <br>
      <label class="titlt1">可住人数</label>
      <select name="" class="p1">
        <option value="">1人</option>
        <option value="">2人</option>
        <option value="">3人</option>
        <option value="">4人</option>
        <option value="">5人</option>
        <option value="">5人以上</option>
      </select>
      <br>
      <br>
      <label class="titlt1">床单更换</label>
      <select name="" class="p1">
        <option value="">每日一换</option>
        <option value="">每客一换</option>
      </select>
      <br>
      <br>
    </form>
    <div style="float: right;margin-right: 20px;margin-top: -300px">
      <img src="../../assets/image/lu.jpg" alt="" width="700px">

      <div style="color: white;margin-top: -240px;position: absolute;margin-left:170px">
        <h2>世间所有的相遇都是久别重逢</h2>
        <h4 style="text-align: center">我们都在彼此感动着</h4>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
  <div style="float: right;margin-right:80px;margin-top:100px;">
    <h3 style="margin-top: 100px">哪些房子可以在南城挽歌发布？</h3>
    <img src="../../assets/image/fangzi.png" alt="">
    <br>
    <img src="../../assets/image/fangzi1.png" alt="">
  </div>
  <div class="title" style="margin-top: 80px">房源描述</div>
  <div style="margin-top:100px;width: 100%">
    <label class="tlt">特色标题</label>
    <input type="text" class="p1">
    <br>
    <br>
    <label class="tlt">每日价格</label>
    <input type="text" name="" id="" class="p1">
    <br>
    <br>
    <label class="tlt">最长可住时间</label>
    <select name="" class="kuang1">
      <option value="">7天</option>
      <option value="">10天</option>
      <option value="">15天</option>
      <option value="">50天</option>
      <option value="">无限制</option>
    </select>
    <br>
    <br>
    <label class="tlt">押金</label>
    <input type="text" class="kuang">
    <br>
    <br>
    <label for="" class="tlt" >预付定金</label>
    <span class="p1">
订单确认后，支付总房价的 100% 作为预订房源的订金</span>
    <br>
    <br>
    <label for="" class="tlt">退款规则</label>
    <select name="" class="p1">
      <option value="">入住前一天取消全额退款</option>
      <option value="">入住前七天取消全额退款</option>
      <option value="">不支持退款，一旦预定，概不付款</option>
    </select>
  </div>
  <br>
  <br>
  <!--床数-->
  <div>
    <label for="" class="titlt1">床数</label>
    <select name="" class="kuang">
      <option value="1">单人床1张</option>
      <option value="2">单人床2张</option>
      <option value="3">单人床3张</option>
      <option value="4">双人床1张</option>
      <option value="5">双人床2张</option>
      <option value="6">双层床1张</option>
      <option value="7">双层床2张</option>
      <option value="8">沙发床1张</option>
      <option value="9">沙发床2张</option>
      <option value="10">气垫床1张</option>
      <option value="11">气垫床2张</option>
    </select>

  </div>
  <br>
  <br>
  <!--个性描述-->
  <div class="write">
    <h5 class="h5">个性描述</h5>
    <textarea name=""  cols="40" rows="10" class="more"></textarea>
  </div>
  <!--内部情况-->
  <div class="write">
    <h5 class="h5">内部情况</h5>
    <textarea name=""  cols="40" rows="10" class="more"></textarea>
  </div>
  <!--交通-->
  <div class="write">
    <h5 class="h5">交通情况</h5>
    <textarea name=""  cols="40" rows="10" class="more"></textarea>
  </div>
  <!--周边情况-->
  <div style="width: 630px;float: right;margin-right: 80px;margin-top: -300px">
    <span>
      南城挽歌，全球公寓民宿预订平台，
致力于为客户提供丰富、优质、更个性的出行住宿体验，同时也为房东提供高收益且有保障的闲置房屋分享平台，
      包含民宿、公寓、别墅等住宿产品及延展服务，可满足以“多人、多天、个性化、高覆盖”为特征的出行住宿需求。包括但不限于家庭出游、商务差旅、休闲度假、聚会团建和过渡性住宿等各类需求。<br><br>用户可通过电脑、手机、微信、7×24小时客服电话等多种渠道轻松预订，即刻体验当地人的生活，<br>同时享受这一新兴住宿方式带来的温馨、舒适和便捷。<br><br>在服务保障方面，南城挽歌会对平台房屋执行实地验真，并为房客提供高达1000万元人民币的“安心租”先行赔付保障基金，确保消费者的每一次安心入住。
<br><br>南城挽歌欢迎有闲置房屋的房东，来途家分享房源探索全新的房屋分享收益模式。南城挽歌高效运营及贴心的服务，使房东在免费发布房屋信息、轻松赚钱的同时，还可以与来自世界各地的房客相互交流分享。<br><br>南城挽歌专业的房东保障计划及经营指导，免去房东们的后顾之忧，使分享赚钱更省心。
    </span>
  </div>
  <div class="write">
    <h5 class="h5">周边情况</h5>
    <textarea name=""  cols="40" rows="10" class="more"></textarea>
  </div>
  <div style="text-align:center;margin-top: 80px">
    <img src="../../assets/image/tuikuan.jpg" alt="">
  </div>
  <app-footer></app-footer>
</div>

