.box {
    width: 788px;
    padding: 20px;
    border: #999 solid 1px;
  margin-left: 32%;
  margin-top:10%;
  position: absolute;
}

.submit-wrap {
    width: 100%;
    text-align: center;
}

.submit-wrap button{
    margin: 0 auto;
    display: block;
    width: 98px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    color: #fff;
    background: #22bb62;
}

.box-item {
    margin-bottom: 15px;
    position: relative;
    line-height: 25px;
  padding-left: 23%;
}
.box span {
    display: inline-block;
    width: 120px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    float: left;
}

.box-item input {
    box-sizing: border-box;
    width: 178px;
    height: 23px;
    line-height: 23px;
    padding: 0 3px;
    border: #999 solid 1px;
    float: left;
    margin-right: 10px;
}

span {
    color: #888;
}

button {
    border: none;
    outline: none;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.clearfix {
    zoom: 1;
}

span.active {
    color: #e93332;
}









