<div class="box clearfix">
  <div class="box-item ">
    <span class="box-item-r">用&nbsp;户&nbsp;名:</span>
    #t_88710699
  </div>

  <div  formGroupName="passwordsGroup">
    <form #changeForm="ngForm">
      <div class="box-item clearfix">
          <span class="box-item-r">输入密码：</span>
        <input type="password"  class="personLargeInput" #tel="ngModel" pattern="^1[34578]\d{9}$" [(ngModel)]="_LoginPhone" id="LoginPhone" name="loginPhone" placeholder="请输入邮箱或手机号" (focus)="handle_span1_focus()" (blur)="handle_span1_blur()"  class="input">
              <span id="box-span-1" >6-16个字符</span>
      </div>

      <div class="box-item clearfix">
          <span class="box-item-r ">确认密码：</span>
        <input type="password" class="personLargeInput" #pass="ngModel" minlength="6"  [(ngModel)]="_passwords" id="passwords" name="loginPasswords" placeholder="密码" (focus)="handle_span2_focus()"  (blur)="handle_span2_blur()">
          <span id="box-span-2">重复输入一次密码</span>
      </div>
      <div class="submit-wrap">
      <button type="button" (click)="toUpdate(changeForm)" [disabled]="changeForm.form.invalid" class="save-btn">修改密码</button>
      </div>
    </form>
  </div>

</div>
