<app-nav></app-nav>

<div class="col-lg-12">
  <!--搜索框-->
  <div class="find">
    <span>目的地 <input type="text" class="text text0"></span>
    <span> 关键字 <input type="text" class="text text3"> </span>
    <span><a href=""><div style="margin-top: -55px;margin-left:70%;width: 112px;height: 40px;border-radius:5px;color:white;background-color: #32a5e7;line-height: 40px">搜索</div></a></span>
  </div>
  <!--条件筛选-->
  <div style="margin-top:100px;">
    <div>
      <ul>
        <li><div class="col-lg-1 col-lg-offset-2">户型</div></li>
        <li><div class="green  col-lg-1">不限</div></li>
        <li>
          <div class="green green1 col-lg-1">一居</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">两居</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">3居</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">4居或以上</div>
        </li>
      </ul>
    </div>
    <br>
    <hr>
    <br>
    <div>
      <ul>
        <li><div class="col-lg-1 col-lg-offset-2">价格</div></li>
        <li><div class="green  col-lg-1">不限</div></li>
        <li>
          <div class="green green1 col-lg-1">100以下</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">100-300</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">300-500</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">500-1000</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">1000以上</div>
        </li>
      </ul>
    </div>
    <br>
    <hr>
    <br>
    <div>
      <ul>
        <li><div class="col-lg-1 col-lg-offset-2">特色房型</div></li>
        <li><div class="green  col-lg-1">不限</div></li>
        <li>
          <div class="green green1 col-lg-1">公寓</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">别墅</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">民居</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">海景房</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">房车</div>
        </li>
      </ul>
    </div>
    <br>
    <hr>
    <br>
    <div>
      <ul>
        <li><div class="col-lg-1 col-lg-offset-2">人数</div></li>
        <li><div class="green  col-lg-1">不限</div></li>
        <li>
          <div class="green green1 col-lg-1">1-2人</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">2-5人</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">5-7人</div>
        </li>
        <li>
          <div class="green green1 col-lg-1">7人以上</div>
        </li>
      </ul>
    </div>
  </div>
  <!--房屋展示-->
  <div class="showhouse">

    <div class="bottom">
      <a routerLink="../detail">
        <div class="box col-lg-3" >
          <img src="../../assets/image/house1.jpg" alt="">
          <div class="jiage">¥498</div>
          <h4><a href="">苏州独墅湖-两室两厅-三床房</a></h4>
          <h5>两居·可住4人</h5>
        </div></a>
      <a routerLink="../detail">
        <div class="box col-lg-3">
          <img src="../../assets/image/house2.jpg" alt="">
          <div class="jiage">¥330</div>
          <h4><a href="">上海金枝玉叶-三室一厅</a></h4>
          <h5>三居·可住6人</h5>
        </div></a>
      <a routerLink="../detail">
        <div class="box col-lg-3">
          <img src="../../assets/image/house3.jpg" alt="">
          <div class="jiage">¥1100</div>
          <h4><a>浙江博雅西园三居蓝调主题房</a></h4>
          <h5>三居·可住6人</h5>
        </div></a>
    </div>
    <div class="bottom">
      <a routerLink="../detail">
        <div class="box col-lg-3" >
          <img src="../../assets/image/house1.jpg" alt="">
          <div class="jiage">¥498</div>
          <h4><a href="">苏州独墅湖-两室两厅-三床房</a></h4>
          <h5>两居·可住4人</h5>
        </div></a>
      <a routerLink="../detail">
        <div class="box col-lg-3">
          <img src="../../assets/image/house2.jpg" alt="">
          <div class="jiage">¥330</div>
          <h4><a href="">上海金枝玉叶-三室一厅</a></h4>
          <h5>三居·可住6人</h5>
        </div></a>
      <a routerLink="../detail">
        <div class="box col-lg-3">
          <img src="../../assets/image/house3.jpg" alt="">
          <div class="jiage">¥1100</div>
          <h4><a>浙江博雅西园三居蓝调主题房</a></h4>
          <h5>三居·可住6人</h5>
        </div></a>
    </div>
    <div class="bottom">
      <a routerLink="../detail">
        <div class="box col-lg-3" >
          <img src="../../assets/image/house1.jpg" alt="">
          <div class="jiage">¥498</div>
          <h4><a href="">苏州独墅湖-两室两厅-三床房</a></h4>
          <h5>两居·可住4人</h5>
        </div></a>
      <a routerLink="../detail">
        <div class="box col-lg-3">
          <img src="../../assets/image/house2.jpg" alt="">
          <div class="jiage">¥330</div>
          <h4><a href="">上海金枝玉叶-三室一厅</a></h4>
          <h5>三居·可住6人</h5>
        </div></a>
      <a routerLink="../detail">
        <div class="box col-lg-3">
          <img src="../../assets/image/house3.jpg" alt="">
          <div class="jiage">¥1100</div>
          <h4><a>浙江博雅西园三居蓝调主题房</a></h4>
          <h5>三居·可住6人</h5>
        </div></a>
    </div>
  </div>
  <!--安心计划-->
  <div class="plan">
    <h2 style="padding-top: 20px;padding-bottom: 10px">房客安心计划</h2>
    <div class="col-lg-2 col-lg-offset-2">
      <div><img src="../../assets/image/wh.png" alt="">到店无房赔首晚房费</div>
    </div>
    <div class="col-lg-4">
      <div><img src="../../assets/image/suo.png" alt="">付款到南城挽歌有保障</div>
    </div>
    <div class="col-lg-4 col-lg-pull-1">
      <div><img src="../../assets/image/yes.png" alt="">保障入住，南城挽歌补差价</div>
    </div>
  </div>
  <!--脚部-->
  <app-footer></app-footer>
</div>

