<app-nav></app-nav>
<app-lunbo></app-lunbo>
<br>
<div id="introduce"style="margin-bottom: 30px" >
    <span class="col-lg-3 col-lg-offset-1 introduce">
        <h2>家一般的舒适</h2>
        <h5>有客厅、厨房，能洗衣、做饭。让你体验家一般的舒适和温暖。</h5>
    </span>
  <span class="col-lg-4  introduce">
        <h2>满足一家人住宿</h2>
        <h5>无论一家老小，还是朋友几人，都能满足你们的个性化需求。</h5>
    </span>
  <span class="col-lg-4  introduce s">
        <h2>比酒店更便宜</h2>
        <h5>舒适的环境，低廉的价格，让你体验真正的价有所值。</h5>
    </span>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--搜索框-->
<div style="margin-left: 30%;margin-bottom: 80px">
  <input type="text" placeholder="请输入城市" class="city">
  <button class="find">搜索</button>
</div>
<!--玩转公寓-->
<div class="col-lg-12" style="margin-bottom: 80px">
  <div><h1>玩转公寓</h1></div>
  <div class="col-lg-2 col-lg-offset-1 headae"><a routerLink="/detail">
    <div class="play"><img src="../../assets/image/play.jpg" alt="" width="280px" height="330px"></div>
    <div class="play_text a"><br><h3>&nbsp;轰趴聚会</h3><h5>&nbsp;私密空间，亲朋好友尽兴玩</h5></div></a>
  </div>
  <div class="col-lg-3 headbe"><a routerLink="../referral">
    <div class="play"><img src="../../assets/image/play1.jpg" alt="" width="280px" height="330px"></div>
    <div class="play_text b"><br><h3>&nbsp;家庭出游</h3><h5>&nbsp;一房多卧，家人合住好照看</h5></div></a>
  </div>
  <div class="col-lg-3 col-lg-pull-1 headbe"><a routerLink="../referral">
    <div class="play"><img src="../../assets/image/play2.jpg" alt="" width="280px" height="330px"></div>
    <div class="play_text c"><br><h3>&nbsp;实惠常住</h3><h5>&nbsp;洗衣做饭，设施齐全又省钱</h5></div></a>
  </div>
  <div class="col-lg-1 col-lg-pull-2 headbe"><a routerLink="../referral">
    <div class="play"><img src="../../assets/image/play3.jpg" alt="" width="280px" height="330px"></div>
    <div class="play_text d"><br><h3>&nbsp;新奇体验</h3><h5>&nbsp;房型丰富，风格迥异更养眼</h5></div></a>
  </div>
</div>
<!--主题推荐-->
<div class="col-lg-12" style="margin-bottom: 80px">
  <div><h1>主题推荐</h1></div>
  <div class="col-lg-2 col-lg-offset-1"style="margin-left:160px">
    <div class="main"><a routerLink="/referral"><img src="../../assets/image/main.jpg" alt="" width="280px" height="430px" class="big"></a></div>
  </div>
  <div class="col-lg-3"style="margin-left: 50px">
    <div class="main"><a routerLink="/referral"><img src="../../assets/image/main1.jpg" alt="" width="280px" height="430px" class="big"></a></div>
  </div>
  <div class="col-lg-3 col-lg-pull-1"style="margin-left: 50px;">
    <div class="main"><a routerLink="/referral"><img src="../../assets/image/main2.png" alt="" width="280px" height="430px" class="big"></a></div>
  </div>
  <div class="col-lg-1 col-lg-pull-2"style="margin-left: 50px">
    <div class="main"><a routerLink="/referral"><img src="../../assets/image/main3.jpg" alt="" width="280px" height="430px" class="big"></a></div>
  </div>

</div>
<!--短租推荐-->
<div style="margin-bottom: 80px">
  <div><h1>短租公寓推荐</h1></div>
  <div id="myCarousel" class="carousel slide col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 visible-lg-block" data-ride="carousel">

    <!-- 轮播（Carousel）指标 -->

    <ol class="carousel-indicators" style="margin-top: 300px;bottom: -50px">

      <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color: rgba(128,128,128,0.64);border-color: #ffffff" ></li>

      <li data-target="#myCarousel" data-slide-to="1" style="background-color: rgba(128,128,128,0.58);border-color: #ffffff" ></li>

      <li data-target="#myCarousel" data-slide-to="2"  style="background-color: rgba(128,128,128,0.55);border-color: #ffffff"></li>

    </ol>

    <!-- 轮播（Carousel）项目 -->

    <div class="carousel-inner">

      <div class="item active col-xs-12 col-sm-12 col-md-12 col-lg-12">


        <div>
          <div class="box col-lg-3" >
            <img src="../../assets/image/house1.jpg" alt="">
            <h3><a routerLink="/referral">沈阳·日出东方...</a></h3>
          </div>

          <div class="box box col-lg-3">
            <img src="../../assets/image/house2.jpg" alt="">
            <h3><a routerLink="/referral">福建·天府公园...</a></h3>
          </div>

          <div class="box box col-lg-3">
            <img src="../../assets/image/house3.jpg" alt="">
            <h3><a routerLink="/referral">湖南·御花苑...</a></h3>
          </div>




        </div>

        <!-- <div class="carousel-caption">标题1</div> -->

      </div>

      <div class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">


        <div>
          <div class="box col-lg-3" >
            <img src="../../assets/image/house4.jpg" alt="">
            <h3><a routerLink="/referral">三亚·龙虎小区...</a></h3>
          </div>

          <div class="box box col-lg-3">
            <img src="../../assets/image/house5.jpg" alt="">
            <h3><a routerLink="/referral">郑州·皇宫大酒店...</a></h3>
          </div>

          <div class="box box col-lg-3">
            <img src="../../assets/image/house6.jpg" alt="">
            <h3><a routerLink="/referral">苏州·海德公园...</a></h3>
          </div>




        </div>
        <!-- <div class="carousel-caption">标题2</div> -->

      </div>

      <div class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div>
          <div class="box col-lg-3" >
            <img src="../../assets/image/house1.jpg" alt="">
            <h3><a routerLink="/referral">苏州·独墅湖...</a></h3>
          </div>

          <div class="box box col-lg-3">
            <img src="../../assets/image/house2.jpg" alt="">
            <h3><a routerLink="/referral">信阳·天龙苑...</a></h3>
          </div>

          <div class="box box col-lg-3">
            <img src="../../assets/image/house3.jpg" alt="">
            <h3><a routerLink="/referral">浙江·博雅西园...</a></h3>
          </div>




        </div>
      </div>
      <!-- <div class="carousel-caption">标题 3</div> -->
    </div>

  </div>


</div>
<!--视频播放-->
<div style="margin-top:30%;position: absolute;">
  <div><h1>属于我们的故事</h1></div>
  <div class="col-lg-6" style="padding: 0">
    <img src="../../assets/image/vedio_1.png" alt="" width="101%">
    <!--第一个视频-->
    <div style="cursor: pointer" data-toggle="modal" data-target=".bs-example-modal-lg" (click)="video()">
      <img src="../../assets/image/video.png" alt="" style="margin-top: -40%;margin-left:40%;position: absolute">
    </div>

    <div class="modal fade bs-example-modal-lg none" id="none" (blur)="she()" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  style="margin-top:5%">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <video src="../../assets/sleep.mp4" height="500" id="begin"></video>
        </div>
      </div>
    </div>
  </div>

<!--第二个视频-->
  <div class="col-lg-6">
    <img src="../../assets/image/vedio_2.png" alt="" width="102%" height="500px">
    <div style="cursor: pointer" data-toggle="modal" data-target=".bs-example-modal-lg1" (click)="vs()">
      <img src="../../assets/image/video.png" alt="" style="margin-top: -40%;margin-left:40%;position: absolute">
    </div>
  </div>

  <div class="modal fade bs-example-modal-lg1" id="none1" tabindex="-1" (blur)="sha()" role="dialog" aria-labelledby="myLargeModalLabel" style="margin-top:10%" >
    <div class="modal-dialog modal-lg" role="document">
      <!--修改bootstrap5910行-->
      <div class="modal-content">
        <video src="../../assets/south.mp4" height="500" id="begin2"></video>
      </div>
    </div>
  </div>

</div>
<!--住房保障-->
<div style="margin-top:87%;text-align: center;margin-bottom: 370px">
  <div id="sss"><h1>安心住房保障</h1></div>
  <a routerLink="/adv"><div class="col-lg-2 col-lg-offset-2"><img src="../../assets/image/money.png" alt="">
    <h2>先行赔付</h2>
    <h4>1000万保障金</h4>
  </div></a>
  <a routerLink="/insurance"><div class="col-lg-4"><img src="../../assets/image/baoxian.png" alt="">
    <h2>赠送保险</h2>
    <h4>11万人身保险</h4>
  </div></a>
  <a routerLink="/house">  <div class="col-lg-4 col-lg-pull-1"><img src="../../assets/image/bh.png" alt="">
    <h2>房屋保真</h2>
    <h4>4项上房审核</h4>
  </div></a>
</div>
<app-footer></app-footer>
