/*body{*/
  /*margin: 0 auto;*/
/*}*/
.ncwg-logo{
  margin-top: -1%;
}
#title{
  margin-top: 2%;
  width: 100%;
  line-height: 61px;
}
#describe{
  font-size: 23px;
  margin-left:10px;
  margin-top:25px;
  position: absolute;
  font-family:华文行楷;
}
.house{
  margin-left:-30px;
  font-size: 16px;
}
.sign{
  font-size: 16px;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

ul{
  list-style: none;
}
.luyou{
  margin-top: 10%;
  margin-left: 17%;
  position: absolute;
}
.kiss{
  width: 105px;
  height: 40px;
  border: solid 1px lightgrey;
}
.kiss:hover{
  width: 105px;
  height: 40px;
  border: solid 1px #32a5e7;
}
.ull{
  margin-top: 30px;
}
.ull div{
  text-align: center;
  line-height: 40px;
}
